/*
WeGlass:
    main color: black - #000
    alt color: orange - #FF6A00
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif
*/

a {
    color: #FF6A00;
}

body {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    color: #000;
    min-width: 800px;
}
div.body {
    text-align: center;
    background: url('../img/background.jpg') top center no-repeat;
}

div.container-fluid {
    text-align: left !important;
    /*opacity: 0.94 !important;*/
    padding: 0 2% 2% 2% !important;
}

div.footer {
    border-radius: 20px;
    background: url("../img/content.png") repeat scroll left top transparent;
    border: 1px solid #E3E3E3;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    font-weight: bold;
    color: #000;
    width: 20%;
    margin:0 auto;
    font-size: 9px;
    text-align: center;
    line-height: 10px;
    opacity: 0.9;
}

div.footer table {
    width: 100%;
}

div.logo {
    margin: 0 auto;
    text-align: center;
}

div.ng-scope {
    background: none repeat scroll 0% 0% #F5F5F5;
    border-radius: 20px !important;
    padding: 2%;
}

div.title {
    margin: 0 auto;
    text-align: center;
    padding: 0 0 2% 0;
}

div.title img {
    margin: 1% 1% 0 1%;
}

div.well {
    background: url("../img/content.png") repeat scroll left top transparent;
    border-radius: 2px !important;
    margin-bottom: 0px !important;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    max-width: 800px;
    margin: 0 auto;
}

label.bull {
    color: #FF6A00;
}

md-content.md-default-theme{
    background-color: unset !important;
    margin-top: 2%;
}

md-icon.menu-icon {
    color: black;
}

/*table.menu-table {
    border-bottom: 1px solid #aeaeae;
}*/