<div align="center" class="title">________________________<img src="img/gallery.svg" alt="{{common.gallery}}">________________________</div>
<!-- slider container -->
<div class="container slider">
    <!-- enumerate all photos -->
    <img ng-repeat="photo in gallery.photos" class="slide" ng-swipe-right="gallery.showPrev()" ng-swipe-left="gallery.showNext()" ng-show="gallery.isActive($index)" ng-src="{{photo.src}}" />

    <!-- prev / next controls -->
    <a class="arrow prev" ng-click="gallery.showPrev()"></a>
    <a class="arrow next" ng-click="gallery.showNext()"></a>
</div>
<!-- extra navigation controls -->
<div class="navigation_menu">
    <ul class="nav">
        <li ng-repeat="photo in gallery.photos" ng-class="{'active':gallery.isActive($index)}">
            <img ng-src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="gallery.showPhoto($index);" />
        </li>
    </ul>
    <div>1 de 2</div>
</div>